<Files "README.md">
  ForceType text/plain
</Files>
HeaderName /sandbox/.autoindex/HEADER.shtml
ReadmeName /sandbox/.autoindex/FOOTER.shtml
IndexStyleSheet http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css
IndexHeadInsert '<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script><link rel="stylesheet" type="text/css" href="/sandbox/index-style.css"><script src="http://wmd-new.googlecode.com/hg/showdown.js" type="text/javascript"></script>'
IndexIgnore *~ *# .git RCS CVS *,v *,t *.log *.swp
Options +Indexes +Multiviews
DirectoryIndex none
IndexOptions +FancyIndexing +HTMLTable +SuppressColumnSorting +XHTML +SuppressDescription +Charset=UTF-8 +FoldersFirst +IgnoreClient +IgnoreCase

RewriteEngine On
RewriteRule (.*).source$ /sandbox/php/source/htmlsource/htmlsource.php [L]

# Redirect old links
RewriteRule ^jquery/(.*) /sandbox/javascript/jquery/$1 [R=301,L]
RewriteRule ^php/xml/sys/(.*) /sandbox/php/xml/lshw/$1 [R=301,L]

<Files ~ "^\.ht">
    Order allow,deny
    Allow from all
    Satisfy all
</Files>
