html {
    background-color: #efefef;
}
body {
    font-size: 13px;
    background-color: white;
    margin: 8px;
    font-family: 'Consolas','Lucida Console',monospace;
    border: 1px solid #ccc;
}
sup {
    font-style: italic;
}
h1,h2,h3,h4,h5,h6,.title,.footer {
    background-color: #333;
    color: white;
    font-weight: 900;
}
h1,h2,.title {
    color: #ef0;
    line-height: 1em;
    padding-bottom: 6px;
}
h1 {
    font-size: 28px;
    padding-bottom: 8px !important;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h3,h4,h5,h6 {
    background-color: transparent;
    color: black;
}
img {
    float: right;
    padding: 2px 4px;
}
p img:nth-child(1) {
    float: left;
}
a {
    text-decoration: none;
}
h1 a,h2 a,.title a, .footer a {
    color: orange;
}
h1 a:hover, h2 a:hover, .title a:hover, .footer a:hover {
    color: #ffc520;
}
strong {
    font-weight: 800;
}
em {
    font-style: italic;
}
body > div > * {
    padding: 4px 8px;
}
div > pre {
    margin: 4px 8px;
}
ul,ol {
    margin-left: 2.5em;
    padding: .5em;
}
ol li, ul li {
    list-style-position: outside;
}
ol li {
    list-style-type: decimal;
}
ul li {
    list-style-type: disc;
}
table, div { background-color: white; }
table {
    padding: .5em;
    border-collapse: collapse;
    border: 1px solid black;
    border-top: 4px solid white;
    margin: 8px 8px;
}
pre {
    border: 1px solid #bbb;
    background-color: #eee;
    display: inline-block;
    margin: 4px 0;
    padding: 4px 8px;
}
pre code {
    font-size: inherit;
}
code {
    border: 1px solid #bbb;
    background-color: #eee;
    font-size: 85%;
    padding: 0 .25em;
}
pre code {
    border: none;
}
tr:first-child {
    color: white;
    background-color: #333;
}
tr + tr:hover {
    background-color: #def;
}
th, td {
    text-align: right;
    padding: 2px 6px;
    white-space: nowrap;
}
tr.odd {
    background-color: #eee;
}
th:first-child + th, td:first-child + td {
    text-align: left;
    width: 99%;
}
tr:first-child + tr {
    display: none;
}
tr td:first-child {
    width: 1%;
}
tr:last-child {
    display: none;
}
table hr {
    display: none;
}
a.source {
    visibility: hidden;
    float: right;
    background-color: #2d2;
    border: 2px solid #2d2;
    padding: 0 2px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: sans-serif;
}
tr:hover a.source {
    visibility: visible;
}
.watermark {
    background-color: white;
    border: 3px solid white;
    cursor: pointer;
    position:fixed;
    right:8px;
    bottom:8px;
    box-shadow: 0 0 4px rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,1);
}
.fork {
    position: absolute;
    top: 1.4em;
    right: 1.4em;
    background-color: #ccc;
    font-size: 10px;
    line-height: 1.1em;
}
.fork:hover {
    background-color: #def;
    border-color: #def;
}
.fork a {
    color: black;
}
div:after {
    content: '.';
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
pre, a.source, .watermark, code {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
pre {
    -webkit-box-shadow: inset 0px 0px 4px 0px #bbb;
    -moz-box-shadow: inset 0px 0px 4px 0px #bbb;
    box-shadow: inset 0px 0px 4px 0px #bbb;
    max-width: 95%;
}
dt {
    font-weight: bold;
}
dt:after {
    padding-right: .75em;
    content: ':';
}
dd {
    margin-left: 1em;
}
dd + dt {
    margin-top: .25em;
}
.prettyprint {
    overflow: auto;
    display: block;
}
body, .fork {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.header, .title {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.footer {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
